* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p{
    font-size: 1.25em;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

header {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-bottom: 3em;
}

nav a {
    color: white;
    margin-left: 1em;
}

.manchete {
    padding: 1em 1em;
    background: white;
}

.manchete span {
    background: yellow;
    padding: 0.2em 0.4em;
}

.card {
    background: white;
    margin: 4px;
    border: 2px solid gray;
    text-align: center;
    justify-content: left;
    padding: 2em 4em;
}

table{
    width: calc(95%);
    margin: 3em;
}