* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

h1 {
    padding: 8rem;
    text-align: center;
}

.palestras {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.card {
    background: white;
    width: calc(33.33% - 1rem);
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.sobre{
    background-color: white;
}