* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

header {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-bottom: 4rem;
}

nav a {
    color: white;
    margin-left: 1em;
    text-decoration: none;
}

img{
    width: 100px;
    height: 100px;
}

.logo{
    gap: 1rem;
    display: flex;
}

.principal {
    font-weight: bold;
    display: block;
    text-align: center;
    background-image: url('/exercicio-5/assets/fabrica-1.webp');
    background-size: cover;
    background-position: bottom;
    padding: 10rem;
    color: black;
    max-width: 95%;
}

.principal span{
    background-color: yellow;
}

.beneficios {
    display: flex;
    max-width: calc(90%);
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem auto;
    box-sizing: border-box;
}

.card {
    background: white;
    font-weight: 100;
    width: calc(33.33% - 1rem);
    border: 2px solid gray;
    padding: 2rem;
    text-align: center;
    justify-content: space-between;
    transition: transform 0.2s;
    overflow:auto;
    background-color: gainsboro;
}

@media (max-width: 768px) {
    .beneficios{
        flex-direction: column;
    }
}